body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 200px;
}

.header {
    background: #ddd;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 600px;
    font-size: 20px;
    display: flex;
}

.image {
    height: 120px;
    display: flex;
    justify-content: end;
    align-content: center;
    width: 400px;
    padding-right: 35px;


}

.account-info {
    background: #ddd;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 400px
}

.header h1 {
    color: #ff4a6e;
    margin-top: 4px;
}

.account-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height: 400px;
    width: 90%;
}

.card {
    background: #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Pushes the button to the bottom */
    height: 90%; /* Ensures the card takes full height */
}


.btn {
    background: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 200px;
    align-self: center; /* Centers button inside flex container */
}

